<table class="table table-striped">
    <thead>
        <th>Code</th>
        <th>Name</th>
        <th>CEO</th>
        <th>Turnover</th>
        <th>Website</th>
        <th>StockExchange</th>
        <th>Options</th>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of companyList">
            <td>{{dataItem.code}}</td>
            <td>{{dataItem.name}}</td>
            <td>{{dataItem.ceo}}</td>
            <td>{{dataItem.turnover}}</td>
            <td>{{dataItem.website}}</td>
            <td>{{dataItem.stock_Exchange}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1" (click)="deleteCompany(dataItem)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>                
                </button>
                <button type="button" class="btn btn-light mr-1" (click)="showStockList(dataItem)" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                    </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>