<div class="container">
    
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">E-Stock</a>

        <ul class="navbar-nav" style="flex-direction: row;">
            <li class="nav-item active" style="margin:0px 10px 0px 10px">
                <a class="nav-link" routerLink="RegisterCompany">Add Company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="ListAllCompanies">List All Companies</a>
            </li>
        </ul>

        <form class="form-inline" #ComanySearch = "ngForm" (ngSubmit) = "onClickSubmit(ComanySearch.value)">
            <input id="companyCodeSrch" name="companyCodeSrch" class="form-control mr-sm-2" type="search" placeholder="Company Code.." aria-label="Search" ngModel>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="GetCompanyDetailsByCode">Search</button>
        </form>

    </nav>
    <router-outlet></router-outlet>

</div>